<h2><%= @range %>s search for "<%= @word %>" </h2>

<table class="table table-hover table-inverse">
  <% if @range == "User" %>



    <%= render 'users/index', users: @users%>

  <% else %>

   <%= render 'books/index', books: @books %>

    </tbody>
  <% end %>
</table>